**Package Installation**
+ python -m pip install numpy --user
+ python -m pip install numpy --user

**Pandas read json**
```
import pandas as pd
df = pd.read_json(r'C:\Users\FengWeiLee\Downloads\ansheng bank code json.json')
```


**Print or process the duplicate values in the column as needed**
```
column_name = 'Code'
duplicates_in_column = df[df[column_name].duplicated()]
print(f"Duplicate values in '{column_name}':")
print(duplicates_in_column)
```

**Some Utilities**
```
df.count
len(df.DBCode.unique())
```

**CSV TO JSON Conversion - Bank Code Mapping**

```
import pandas as pd
import json

xlsx_file = r'C:\Users\FengWeiLee\Downloads\test.csv'

df = pd.read_csv(xlsx_file, encoding='utf-8')

#column rename
df.rename(columns={'N8': 'DBCode'}, inplace=True)
df.rename(columns={'An Sheng': 'Code'}, inplace=True)
df.rename(columns={'银行名称': 'Name'}, inplace=True)

#column reorder
df = df[['Code', 'DBCode','Name']]

print(df.head())
data_dict = df.to_dict(orient='records')

with open(r'C:\Users\FengWeiLee\Downloads\AnShengBankCodeMapping.json', 'w', encoding='utf-8') as json_file:
    json.dump(data_dict, json_file, ensure_ascii=False, indent=4)
```

In [1]:
import pandas as pd
import json

xlsx_file = r'C:\Users\FengWeiLee\Downloads\HaoJie Bank Code.csv'

df = pd.read_csv(xlsx_file, encoding='utf-8')

#column rename
df.rename(columns={'Bank Code': 'DBCode'}, inplace=True)
df.rename(columns={'Hao Jie Bank Code': 'Code'}, inplace=True)
df.rename(columns={'Bank Name': 'Name'}, inplace=True)

#column reorder
df['Code1'] = df['Code']
df['DBCode1'] = df['DBCode']
df = df[['Code', 'DBCode', 'Code1', 'DBCode1']]

print(df.head())
data_dict = df.to_dict(orient='records')

with open(r'C:\Users\FengWeiLee\Downloads\HaoJieBankCodeMapping1.json', 'w', encoding='utf-8') as json_file:
    json.dump(data_dict, json_file, ensure_ascii=False, indent=4)

       Code   DBCode     Code1  DBCode1
0  HPT00009     CMBC  HPT00009     CMBC
1  HPT00192     SPDB  HPT00192     SPDB
2  HPT00024  SPABANK  HPT00024  SPABANK
3  HPT00008      CIB  HPT00008      CIB
4  HPT00025   BJBANK  HPT00025   BJBANK

In [1]:
import pandas as pd
import json

# Replace 'your_file.xlsx' with the path to your Excel file
xlsx_file = r'C:\Users\FengWeiLee\Downloads\HaoJie Bank Code.csv'

# Read the Excel file into a pandas DataFrame
df = pd.read_csv(xlsx_file, encoding='utf-8')
# Convert the DataFrame to a JSON object
json_data = df.to_json(orient='records', lines=True)
# Convert the DataFrame to a dictionary
df.rename(columns={'Bank Code': 'DBCode'}, inplace=True)
df.rename(columns={'Hao Jie Bank Code': 'Code'}, inplace=True)
df.rename(columns={'Bank Name': 'Name'}, inplace=True)

# print(df.head())
# df = df.iloc[:, [1, 0]]
# print(df.head())


df = df[['DBCode','Name', 'Code']]
# Save the data as a JSON file
#values = df.values.tolist()
# Create an empty list to store JSON objects
#json_strings = []
print(df.head())
data_dict = df.to_dict(orient='records')
# Iterate through the DataFrame and create JSON objects without column names
#for index, row in df.iterrows():
 #   values = tuple(row)  # Convert the row to a tuple
  #  json_string = json.dumps(values, ensure_ascii=False)
   # json_strings.append(json_string)

with open(r'C:\Users\FengWeiLee\Downloads\HaoJieBankCodeMapping.json', 'w', encoding='utf-8') as json_file:
    json.dump(data_dict, json_file, ensure_ascii=False, indent=4)

    DBCode  Name      Code
0     CMBC  民生银行  HPT00009
1     SPDB  浦发银行  HPT00192
2  SPABANK  平安银行  HPT00024
3      CIB  兴业银行  HPT00008
4   BJBANK  北京银行  HPT00025

In [5]:
column_name = 'Name'
duplicates_in_column = df[df[column_name].duplicated()]
print(f"Duplicate values in '{column_name}':")
print(duplicates_in_column)

Duplicate values in 'Name':
Empty DataFrame
Columns: [DBCode, Name, Code]
Index: []

In [6]:
df

      DBCode      Name      Code
0       CMBC      民生银行  HPT00009
1       SPDB      浦发银行  HPT00192
2    SPABANK      平安银行  HPT00024
3        CIB      兴业银行  HPT00008
4     BJBANK      北京银行  HPT00025
..       ...       ...       ...
148    SDRCU   山东农村信用社  HPT00099
149    HURCB   湖北农村信用社  HPT00106
150   HLJRCU  黑龙江农村信用社  HPT00242
151     SRCB    深圳农商银行  HPT00105
152      CEB      光大银行  HPT00022

[153 rows x 3 columns]